:root {
  --button-03-font-family: "PublicSans-SemiBold", Helvetica;
  --button-03-font-size: 16px;
  --button-03-font-style: normal;
  --button-03-font-weight: 600;
  --button-03-letter-spacing: -0.4000000059604645px;
  --button-03-line-height: 22px;
  --colors-base-color-6: rgba(17, 17, 17, 1);
  --colors-grey-grey-2: rgba(169, 171, 189, 1);
  --colors-white: rgba(255, 255, 255, 1);
  --heading-03-font-family: "PublicSans-SemiBold", Helvetica;
  --heading-03-font-size: 36px;
  --heading-03-font-style: normal;
  --heading-03-font-weight: 600;
  --heading-03-letter-spacing: -1.5px;
  --heading-03-line-height: 44px;
  --heading-04-font-family: "PublicSans-SemiBold", Helvetica;
  --heading-04-font-size: 22px;
  --heading-04-font-style: normal;
  --heading-04-font-weight: 600;
  --heading-04-letter-spacing: -0.550000011920929px;
  --heading-04-line-height: 30px;
  --heading-05-font-family: "PublicSans-SemiBold", Helvetica;
  --heading-05-font-size: 16px;
  --heading-05-font-style: normal;
  --heading-05-font-weight: 600;
  --heading-05-letter-spacing: -0.4000000059604645px;
  --heading-05-line-height: 22px;
  --paragraph-01-font-family: "PublicSans-Regular", Helvetica;
  --paragraph-01-font-size: 20px;
  --paragraph-01-font-style: normal;
  --paragraph-01-font-weight: 400;
  --paragraph-01-letter-spacing: -0.4000000059604645px;
  --paragraph-01-line-height: 28px;
  --paragraph-02-font-family: "PublicSans-Regular", Helvetica;
  --paragraph-02-font-size: 18px;
  --paragraph-02-font-style: normal;
  --paragraph-02-font-weight: 400;
  --paragraph-02-letter-spacing: -0.30000001192092896px;
  --paragraph-02-line-height: 26px;
  --paragraph-03-font-family: "PublicSans-Medium", Helvetica;
  --paragraph-03-font-size: 16px;
  --paragraph-03-font-style: normal;
  --paragraph-03-font-weight: 500;
  --paragraph-03-letter-spacing: -0.20000000298023224px;
  --paragraph-03-line-height: 26px;
  --paragraph-04-font-family: "Inter-Regular", Helvetica;
  --paragraph-04-font-size: 14px;
  --paragraph-04-font-style: normal;
  --paragraph-04-font-weight: 400;
  --paragraph-04-letter-spacing: -0.4000000059604645px;
  --paragraph-04-line-height: 20px;
  --primary: rgba(13, 13, 13, 1);
  --text-primary: rgba(0, 0, 0, 1);
  --text-secondary: rgba(151, 151, 151, 1);
}
