.grid {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  .top_img {
    position: absolute;
    top: -120px;
    z-index: -1;
    width: 100%;
    height: 700px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .top_heading {
    margin-top: 300px !important;
    margin: 120px;
  }
}

.box_products {
  background-color: white;
  color: black;
}

.box_artisans {
  background-color: white;
  color: black;
}

.box_subtitle {
  margin: 30px;
  font-weight: 300;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 50px;
  gap: 25px;
  border-radius: 15px;

  img {
    width: 100%;
    height: auto;
    min-height: 390px;
    object-fit: cover;
    border-radius: 5px;
  
  }
}

.artisans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 50px;

  img {
    width: 100% !important;

    height: 521px;
    object-fit: cover;
  }
}

.box_content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.box_artisans_content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  margin-bottom: 200px;
}

.artisans_img {
  margin-top: -100px !important;
}

.artisans {
  img {
    border-radius: 10px;
  }
}

.product {
  position: relative;
  display: inline-block;
}

.product-name {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 5px;
  margin: 7px;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.product:hover .product-name {
  opacity: 1; 
}

.button {
  margin-top: 15px;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #b2e6bd;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}
.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}
