@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #171717 !important;
  font-family: "Poppins", sans-serif !important;
  color: white !important;
}

.grid {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.grid .top_img {
  position: absolute;
  top: -120px;
  z-index: -1;
  width: 100%;
  height: 700px;
}
.grid .top_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.grid .top_heading {
  margin-top: 300px !important;
  margin: 120px;
}

.box_products {
  background-color: white;
  color: black;
}

.box_artisans {
  background-color: white;
  color: black;
}

.box_subtitle {
  margin: 30px;
  font-weight: 300;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 50px;
  gap: 25px; /* Añade espacio entre las imágenes */
}
.products img {
  width: 100%;
  height: auto;
  min-height: 390px;
  object-fit: cover;
}

.artisans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 50px;
}
.artisans img {
  width: 100% !important;
  height: 521px;
  object-fit: cover;
}

.box_content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.box_artisans_content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  margin-bottom: 200px;
}

.artisans_img {
  margin-top: -100px !important;
}

.grid-item {
  text-align: center;
}

.allcards {
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: transparent;
  color: white;
  text-align: left;
  position: relative;
  width: 1000px;
  align-items: center;
  margin-bottom: 20px;
}
.card-img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.title {
  text-align: center;
  margin: 70px;
  margin-bottom: 120px;
}

.title h1 {
  font-weight: 600;
  font-size: 36px;
}

.title h3 {
  font-weight: 300;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 35px;
}

.card h2 {
  font-size: 32px;
}

.descripcion {
  font-size: 14px;
  font-weight: 300;
  margin-top: -15px;
}

.hr {
  border-top: 1px solid #dbdbdb;
}

.button {
  margin-top: 15px;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #b2e6bd;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

.span {
  padding: 7px;
  margin-top: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}

.div {
  margin: 20px;
  justify-content: center;
}

.navbar {
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icons {
  gap: 20px;
  color: white;
  width: 156px;
  flex-direction: row;
  display: flex;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

logo {
  width: 156px;
}

.grid {
  position: relative;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.slider {
  margin-right: 50px;
}

.product-right {
  margin-right: 200px;
}

.more {
  margin-top: 150px;
}

.hr {
  height: 1px;
  background-color: #bdbdbd;
  border: none;
}

.buttons {
  display: flex;
  gap: 14px;
}

button {
  margin-top: 15px;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #b2e6bd;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

.slider {
  position: relative;
  min-height: 250px;
  min-width: 550px;
}

.footer_grid {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: black;
  align-items: center;
}

.footer_hr {
  color: black;
  width: 90%;
  margin-bottom: -100px;
  margin-top: 100px;
}

.input-container {
  position: relative;
  width: 300px;
  margin-top: 40px;
}

.footer_container_input {
  gap: 20px;
}

.signup-container {
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  position: relative;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.footer_content {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin: 170px;
}

.footer_content_sitemap {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.footer_content_newsletter {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer_bottom {
  margin-bottom: 30px;
}

.hr {
  color: black;
}

.sitemap_title {
  margin-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
